{% extends 'base.html' %}
{% block content %}

<section class="landing-page-home">
  <div class="background-image">
    <img src="{{url_for('static', filename='/images/rainbow-books.jpg')}}"
      class="img-fluid"
      style="z-index: -1; position: fixed; height: 100%; width: 100%">
  </div>
  <main class="container p-5 mt-5">
    <div class="row mt-5 d-flex justify-content-center">
      <aside class="col-12 col-md-6">
        <h2 style="font-weight: bold; color: white; margin-top: 50px">Sign In</h2>
        {% include 'forms.html' %}
      </aside>
    </div>
  </main>
</section>


{% endblock %}